/* Default styles */
.header {
  background-color: #f1f3f6; /* Grey background color */
  padding: 10px; /* Adjust padding as needed */
  display: flex;
  justify-content: center;
  height: 150px;
  align-items: center;
  font-family: "Roboto", sans-serif;
}

.header h3 {
  font-size: 60px;
}

.cards {
  margin-top: -2%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh; /* Adjust the height as needed */
}

.card {
  border: 1px solid hsl(0, 0%, 80%);
  border-radius: 10px;
  box-shadow: 5px 5px 5px hsl(0, 0%, 0%, 0.1);
  padding: 20px;
  margin-left: 100px;
  margin-right: 100px;
  text-align: center;
  max-width: 300px; /* Adjust this to control the maximum width of the card */
  width: 100%; /* Ensure the card takes full width of its container */
}

.card-image {
  max-width: 100%; /* Ensure the image takes full width of its container */
  height: auto;
  border-radius: 10%;
  margin-bottom: 10px;
}

.card-title {
  font-size: xx-large;
  margin-bottom: 4px;
  color: hsl(0, 0%, 20%);
}

.card-text {
  font-size: medium;
  font-family: sans-serif;
  color: hsl(0, 0%, 30%);
}

/* Media query for smaller screens */
@media only screen and (max-width: 768px) {
  .header {
    height: auto;
    padding: 20px;
  }

  .header h3 {
    font-size: 40px;
  }

  .cards {
    flex-direction: column;
    height: auto;
  }

  .card {
    max-width: 80%;
    margin: 10px 0;
  }
}
